:root {
  --tile-size: 80px;
  --piece-size: 65%;
  --board-border-radius: 10px;
}

body {
  background-color: #ffedbf;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}